* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px
}

.navbar ul li{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
}

.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white ;
}


#home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 590px;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('img/avatar.jpg') no-repeat center center/cover;
    height: 650px;
    width: 100%;
    z-index: -1;
    opacity: .9;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 45%;
    right: 3%;
}

.headings{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

#about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;
}
#pic{
    display: flex;
}
#pic img{
    width: 480px;
    height: 480px;
}
#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}
#intro p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

#primary span {
    display: inline-block;
    width: 23%;
    height: 50px;
    margin: 10px;
    margin-top: 2px;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

#secondary span {
    display: inline-block;
    width: 31%;
    height: 50px;
    margin: 10px;
    margin-top: 2px;
    padding: 10px;
    border: 1px solid gray;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
}

#skills{
    margin-top: 30px;
}

#skills h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
}

#edu h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-bottom: 10px;
}

#edu p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    margin: 10px;
}

#projects h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
}

.projects-section {
    padding: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .project {
    margin-bottom: 30px;
  }

  .project2 {
    margin-bottom: 30px;
  }

  .project img{
    width: 1000px;
    height: 480px;
  }

  .project2 img{
    width: 320px;
    height: 600px;
  }
  

  a {
    text-decoration: none;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: blue;
    
  }
  
  p {
    font-size: 16px;
    color: gray;
  }
  
  .contact-section {
    padding: 30px;
    text-align: center;
  }
  
  .contact-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .contact-links a {
    margin: 0 10px;
    font-size: 18px;
    text-decoration: none;
    color: blue;
  }
  